# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\developed codes and apps\pythonProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
